/.venv/
/.idea/
/.vscode/
/dist/
/out/
/build/
/.coverage
/.coverage.*
/coverage.xml
/htmlcov/
*.egg-info/
__pycache__/
.pytest_cache/
.ruff_cache/
.mypy_cache/
*.pyc
*.prof
*.pprof
*.swp
*.tmp
.DS_Store
Thumbs.db
